<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>home view</title>
    </head>
    <body>
        <h1>Welcome to home view</h1>

        To view persons : use <a href="http://localhost:8080/person/all">http://localhost:8080/person/all</a> <br>

        To add person : use <a href="http://localhost:8080/person">http://localhost:8080/person</a><br>

        To use curl command to add person : http://localhost:8080/person/json ( see README.md ) <br>
    </body>
</html>